<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Lista de Produtos</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/TasksModel.js"></script>

    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="mainController">
      <ion-header-bar class="bar-dark">
        <h1 class="title" style="text-align:center; font-size:20px;"><i class="ion-ios-cart-outline" style="font-size:25px"></i> Lista de Compras</h1>
      </ion-header-bar>
      <ion-footer-bar class="bar-dark">
        <div class="row">
          <div class="col col-90" :="" <strong="" style="font-size:20px;margin:-5px"><i class="ion-checkmark-round"> Exibir finalizadas</i>
          </div>
          <div class="col col-10">
            <label class="toggle toggle-balanced" style="margin: -13px">
              <input type="checkbox" ng-model="showMarked">
                <div class="track">
                  <div class="handle">
                  </div>
                </div>
            </label>
          </div>
        </div>
      </ion-footer-bar>
      <ion-content class="bg-app">
        <div class="row">
          <div class="col col-50">
            <button class="button button-block button-balanced" ng-click="onItemAdd()" ;="" style="font-size:20px; border-radius: 25px !important;">
              <i class="ion-ios-compose-outline" style="font-size:25px"></i>
              Adicionar
            </button>
          </div>
          <div class="col col-50">
            <button class="button button-block button-assertive" ng-click="onClickRemove()" ;="" style="font-size:20px; border-radius: 25px !important;">
              <i class="ion-trash-b" style="font-size:25px"></i>
              Remover
            </button>
          </div>
        </div>
        <ion-list show-delete="removeStatus">
          <ion-item ng-repeat="item in list track by $index" ng-hide="onHideItem(item)">
            <div class="row">
              <div class="col col-80">
                <label style="font-size:20px;">{{item.nome}}</label>
                <ion-delete-button class="button-assertive" style="background:#ef473a" ng-click="onItemRemove(item)"><i class="ion-ios-minus-outline" style="color:white;margin-left: 5px;"></i></ion-delete-button>
                <ion-option-button class="button-royal" ng-click="onItemEdit(item)"><i class="ion-ios-gear"> Editar</i></ion-option-button>
              </div>
              <div class="col col-20">
              <button class="button button-small button-positive button-outline" ng-click="onMarkTask(item)">
                <i class="icon ion-checkmark" ng-show="item.finalizada"></i><br>
              </button><label style="font-size:20px"> Finalizar</label></div>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
