.bg-app{
  background: url(/img/carrinho.png) no-repeat center fixed #444444f5;
}

.button-royal{
  background: #387ef5;
}

.button-positive{
  border-radius: 25px;
}


.button-default{
  border-radius: 25px;
}

.item{
  background-color: #444444;
  border-color: #0000;
}

.item-delete{
  background: #ef473a;
  border-radius: 25px;
}
