
label{
  font-size: 20px;
}



.crud-button{
  display: flex;
  position: absolute;
  bottom: 0;
}

.inline{
  display: inline-flex;
}

.view-finish{
  display: inline-flex;
}

.toggle{
  margin: -13px -25px;
}

.crud-button .button-clear{
  width: 100%;
  align-items: center;
  text-align: center;
}

.crud-button .button-clear i{
  margin: auto;
  font-size: 40px;
}